.card {
    padding: 10px;
    height: 200px;
    margin-bottom: 30px;
    box-shadow: 3px 2px 2px rgb(68, 66, 66);
}

.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-buttons {
    position: absolute;
    bottom: 5%;
}