.card {
    padding: 10px;
    height: 225px;
    margin-bottom: 30px;
    box-shadow: 3px 2px 2px rgb(68, 66, 66);
}

h1 {
    color: #fff;
}
.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-title {
    padding-top: 25px;
    font-weight: bold;
}

.article-buttons {
    position: absolute;
    bottom: 5%;
}

.delete {
    position: absolute;
    top: 2%;
    right: 2%;
    font-weight: bold;
    color: rgb(194, 30, 30)!important;
    font-size: 20px;
    padding: 3px;
}

a {
    cursor: pointer;
}